<tr class="cursor-pointer hover:bg-zinc-50" data-href="<%= workflow_path(workflow) %>">
  <td class="px-4 py-2.5 font-mono text-xs text-zinc-500"><%= workflow.job_class %></td>
  <td class="px-4 py-2.5"><%= link_to workflow.key, workflow_path(workflow), class: "font-mono text-zinc-900 hover:underline" %></td>
  <td class="px-4 py-2.5"><%= cf_badge(workflow.state) %></td>
  <td class="px-4 py-2.5 text-right text-xs text-zinc-500"><%= cf_ago(workflow.started_at) %></td>
  <td class="px-4 py-2.5 text-right text-xs text-zinc-500"><%= cf_ago(workflow.updated_at) %></td>
</tr>
